<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    
    <img src="{{site.baseurl}}/assets/images/symbiosis.jpg" alt="Symbiosis logo"/>

  </div>

</footer>
