---
layout: default
---

<h1>Archive of posts with {{ page.type }} '{{ page.title }}'</h1>
<ul class="posts">
  {% for post in page.posts %}
  <li>
    <a class="post-link" href="{{ post.url | relative_url }}"
      >{{ post.title }}</a
    >
  </li>
  {% endfor %}
</ul>
