---
layout: default
---

<article
  class="post h-entry"
  itemscope
  itemtype="http://schema.org/BlogPosting"
>
  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">
      {{ page.title | escape }}
    </h1>
    <p class="post-meta">
      {%- if page.author -%} •
      <span itemprop="author" itemscope itemtype="http://schema.org/Person"
        ><span class="p-author h-card" itemprop="name"
          >{{ page.author }}</span
        ></span
      >
      {%- endif -%}
    </p>
    <ul class="tags">
      {% for tag in page.tags %}
      <li>
        <a
          href="{{ site.baseurl }}{{ site.tag_page }}{{ tag | slugify }}"
          class="post-tag"
          >{{ tag }}</a
        >
      </li>
      {% endfor %}
    </ul>
  </header>

  <div class="post-content e-content" itemprop="articleBody">{{ content }}</div>

  <div>
    Want to tweak this recipe?
    <a href="{{ site.source_repository }}{{ page.path }}"
      >Edit the source here</a
    >.
  </div>

  {%- if site.disqus.shortname -%} {%- include disqus_comments.html -%} {%-
  endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
